version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: redis_mongo_mongo
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: redis_mongo_redis
    ports:
      - "6381:6379"

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      - PORT=3001
      - MONGO_URI=mongodb://mongo:27017/myDatabase
      - REDIS_URL=redis://redis:6379
      - CACHE_TTL_SECONDS=3600
    ports:
      - "3001:3001"
    depends_on:
      - mongo
      - redis

volumes:
  mongo-data:
